.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.align-middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: var(--text-muted);
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 1rem;
}

.p-4 {
    padding: 2rem;
}
